.black-box {
  background-color: black;
  height: 80px;
  width: 80px;
  margin: 10px;
}

.row1 {
  display: flex;
  justify-content: flex-start;
}

.row2 {
  display: flex;
  justify-content: center;
}

.row3 {
  display: flex;
  justify-content: flex-end;
}